{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@api": "./src/api",
          "@models": "./src/models",
          "@screens": "./src/screens",
          "@hooks": "./src/hooks",
          "@services": "./src/services",
          "@constants": "./src/constants",
          "@context": "./src/context",
          "@queries": "./src/queries",
          "@data": "./src/data",
          "@typeDefs": "./src/types",
          "@generated": "./src/generated",
          "@utils": "./src/utils",
          "@public": "./public",
          "@pages": "./src/pages",
          "@layout": "./src/layout",
          "@firebase": "./src/firebase",
          "@config": "./src/config",
          "@redux": "./src/redux",
          "@interfaces": "./src/interfaces",
          "@*": "./src/*",
          "@*/*": "./src/*/*",
          "@**/**": "./src/**/**"
        }
      }
    ]
  ]
}
