.card {
  margin: 10px;
  padding: 10px;
  display: grid;
  place-items: center;
  border-radius: 30px;
  width: 270px;
  height: 400px;
}

.card-header {
  display: flex;
  flex-wrap: wrap;
}

.card-header .title {
  flex-direction: column-reverse;
  white-space: pre-line;
}

.card-image {
  display: grid;
  max-width: fit-content;
  max-height: fit-content;
  place-items: center;
}
