@import "../node_modules/antd/dist/antd.css";

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout-sub-header-background {
  background: #141414;
}

.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}

.searchbar {
  display: flex;
  align-items: center;
}
.content-products {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-layout {
  display: flex;
  flex-direction: column;
  margin: 70px 0 0 50px;
  align-items: center;
  justify-content: center;
  margin: 65px 0 0 50px;
}
