.inputRegister {
  border-radius: 25px;
  background-color: #fff;
  border: 2px solid rgb(165, 163, 163);
  outline: none;
  width: 100%;
  padding: 15px 15px;
  margin: 10px;
}
.form-register
{
  vertical-align: middle;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 20%;
  margin: 30px;
  justify-content: center;
}

.form-register label
{
  font-weight: bold;
  margin: 5px 10px 5px 0;
}
.button-register
{
  width: 60%;
  border-radius: 25px;
  font-weight: bold;
  height: 50px;
  top: -25px;
  left: -15%;
}
.error {
  color: red;
  font-size: 10px;
}